body{
    background: url("cover.jpg") no-repeat center;
    background-size: cover;
}

body table {
    width: 800px;
    margin: 10px auto;
    color: black;
    height: auto;
    //border: 2px solid black;
    transition: width 2s, height 2s, transform 0.3s;
}

body table:hover{
    transform: scale(1.05,1.05);
}

body td{
    padding: 8px;
    text-align: center;
    width: 200px;
}

body img{
    height: 80px;
    border-radius: 50%;
    border: 3px solid black;
}

body table a{
    color: black;
    font-family: 'Lemonada', cursive;
}

body a:hover{
    color: black;
    text-decoration: none;
}

body a:visited{
    color: black;
    text-decoration: none;
}

body a:link{
    color: black;
    text-decoration: none;
}

body #menu1{
    background: #66e0ff;
    float: left;
}

body #menu2{
    background: #005266;
    float: right;
}

body #user, #status, #game{
    font-size: 20px;
}

body #facebookIcon{
    color:rgb(59,89,163);
}

body footer{
    padding: 30px;
    width:100%;
    bottom:0;
    left:0;
}

body span{
    color: #c0392b;
    font-size: 25px;
}

body footer p{
    float: right;
    color: black;
}

body h5{
    color: black;
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
}

body footer .paddingBTN{
    font-size: 15px;
    background-color: black;
    color: white;
    border-color: black;
}

body h1{
    color: black;
    font-weight: bold;
    font-family: 'Lemonada';
    text-decoration: underline;
}

body h2{
    color: black;
    font-style: oblique;
    font-weight: bold;
}

body h3{
    color: #0000ff;
    font-weight: bold;
}



